.navbar {
	background-color: #363537;
	display: flex;
	align-items: center;
}

.navbar button {
	color: #F7F7FF;
	font-size: large;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: transparent;
	border: none;
	outline: none;
	margin: 10px;
}

.sliders {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sliders label {
	color: #F7F7FF;
	font-size: small;
	margin: 5px;
}

.sliders input {
	width: 5vw;
}